/detection/*
/embedding/*
/SCT/*
/SportSORT/checkpoints/*
/SportSORT/reid/external/weights/*
/cache/*
/cache_soccer/*
/evaluation/TrackEval/data/*
/interpolation/*
/output_testset/*
/output_testset2/*
/output_testset_baseline/*
/fix_embedding/*
/fix_detection/*
./evaluation/TrackEval/output/*
./evaluation/TrackEval/eval_logs/train/*
/detection_run/
/embedding_run/
**/__pycache__/
**/*.pyc
./SportSORT/reid/torchreid/__pycache__/*
./SportSORT/reid/torchreid/models/__pycache__/*
./evaluation/TrackEval/combine_2_logs/*
./evaluation/TrackEval/output/

/SportSORT/reid/torchreid/data/datasets/image/__pycache__/
evaluation/TrackEval/output/tracker_to_eval/*
SportSORT/reid/torchreid/data/datasets/image/__pycache__/*
SportSORT/reid/torchreid/__pycache__/*
SportSORT/reid/torchreid/data/datasets/image/__pycache__/*

SportSORT/reid/torchreid/utils/__pycache__/*
SportSORT/reid/torchreid/models/__pycache__/*

SportSORT/tools/bash/*

SportSORT/reid/torchreid/data/datasets/image/__pycache__/*
SportSORT/reid/torchreid/__pycache__/*
SportSORT/reid/torchreid/data/datasets/video/__pycache__/*

create_dataset.py
SportSORT/jersey_team/get_crop.py
SportSORT/jersey_team/rtmpose/ckpt/*
SportSORT/tools/abc.py
evaluation/TrackEval/evalutate.sh
evaluation/TrackEval/trackeval/metrics/clear2.py
evaluation/TrackEval/scripts/run_mot_challenge2.py
SportSORT/tools/bash_run.sh
SportSORT/tools/bash_eval.sh
SportSORT/tools/infer_2.py
SportSORT/tools/infer_3.py
SportSORT/tools/infer_4.py
SportSORT/tools/infer_backup.py
SportSORT/tools/infer_one_vid_2.py
SportSORT/tools/infer_one_vid_3.py
SportSORT/tools/infer_one_vid.py
SportSORT/tools/infer_soccernet.py
SportSORT/tools/infer_test.py
SportSORT/tracker/Deep_EIoU_2.py
SportSORT/tracker/Deep_EIoU_3.py
SportSORT/tracker/Deep_EIoU_4.py
SportSORT/tracker/Deep_EIoU_backup.py

SportSORT/jersey_team/eval_det.py
SportSORT/jersey_team/eval_track.py
